{% extends 'pages/base.html' %}
{% block content%}

<div class="container section-padding">
  <h1 class="display-4 text-muted text-right">All Books</h1>
  <div class="row">
    <!-- Category Row -->
    <div class="col-sm-2 product-row">
      <ul class="product-list">
        <h5 class="text-muted text-center">Categories</h5>
        <li class="active"><a href="#" class="btn text-dark">Classics</a></li>
        <li><a href="#"  class="btn btn-list text-dark">Horror</a></li>
        <li><a href="#"  class="btn btn-list text-dark">Poems</a></li>
        <li><a href="#"  class="btn btn-list text-dark">Classics</a></li>
        <li><a href="#"  class="btn btn-list text-dark">Horror</a></li>
        <li><a href="#"  class="btn btn-list text-dark">Poems</a></li>
      </ul>
    </div>
    <!-- Item display row -->
    <!-- <div class="row"> -->

    <div class=" row col-sm-12 col-md-10 py-3" style="flex:auto;">

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text truncate">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <img src="/static/imgs/book-chapter-six-5834.jpg" class="img-fluid card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="#" class="btn btn-outline-primary">See More</a>
          </div>
        </div>
      </div>

    <!-- </div> -->
    </div>
  </div>
</div>


{% endblock %}
