<div class="row product-row position-relative">
    <div class="col-sm-12 py-2">
        <h3 class="py-3 mb-3 text-muted text-center">Categories</h3>
    </div>
    <button type="button" class="btn btn-secondary w-75 mx-auto d-sm-block d-md-none text-uppercase" id="sidenav-btn">menu</button>

  <div class="col-sm-12 product-list-row">
    <ul class="product-list">      
      <li><a href="/store/Classic/"  class="btn text-dark">Classics</a></li>
      <li><a href="/store/Horror/"  class="btn btn-list text-dark">Horror</a></li>
      <li><a href="/store/Novel/"  class="btn btn-list text-dark">Novel</a></li>
      <li><a href="/store/Sci-Fi/"  class="btn btn-list text-dark">Sci-Fi</a></li>
    </ul>
  </div>
</div>

<div id="sidenav" class="shadow">
  <span id="close-btn" class="p-3 text-muted" style="cursor:pointer;font-size:3rem;">&times;</span>
  <h2 class="py-3 mb-3 text-dark font-weight-bold text-center">Categories</h2>
  <ul class="list-unstyled">
    <li><a href="/store/Classic/"  class="text-muted">Classics</a></li>
    <li><a href="/store/Horror/"  class="btn-list text-muted">Horror</a></li>
    <li><a href="/store/Novel/"  class=" btn-list text-muted">Novel</a></li>
    <li><a href="/store/SciFi/"  class=" btn-list text-muted">Sci-Fi</a></li>
  </ul>
</div>
